*{
 padding: 0%;
 margin: 0%;
}
body{
    .young-serif-regular {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
      }
      }
      .container{
        padding: 50px;

      }
      .section-one{
                background-color: black;
                color: wheat;
                padding: 20px;
                vertical-align: top;

      }
      .section-one__role{
        font-size: 20px;
        margin-top: 10px;
        
        
      }
      .section-one__role:hover{
        background-color: blue;


      }
      .section-one__contact{
        font-size: 15px;
        background-color: orangered;
        color: white;
        padding: 8px;
        display: inline-block;
        margin-top: 10px;

      }
      .section-one__contact:hover{ background-color: #6462fd;
      }
      .section-one__name{
        font-family:sans-serif;
        vertical-align: top;

      }
      .section-two__details,.section-two__title,.section-three,.section-four{

        margin-top: 20px;
      }
        .section-two__dis,.section-three__des{
            margin-top: 10px; }
            .section-four{
                background-color: black;
                color: white;
                padding: 20px;
            }
            .section-four__link2{
                color:#6462fd;
            }
            .section-three li,.section-four li{
                list-style: none;
            }
            .section-three{
                background-color: #6462fd;
                color: black;
                padding: 20px;
                display: inline-block;
                border-radius: 10px;
                
                
            }
        .contact-form{
            margin-top: 20px;
            vertical-align: top;

            .contact-form__input1{
              padding-bottom: 20px;
              
            }
        }
        .contact-form__input1,.contact-form__input2,.contact-form__textarea,.contact-form__submit{
          margin-top: 10px;
        }
        .contact-form__input1,.contact-form__input2{
          padding: 10px;
          border: none;
          border: solid black 1px ;
          
        }
      
      .contact-form__textarea,
      .contact-form__submit{
        padding: 10px;
        border: none;
        border: solid black 1px ;
      }
      .contact-form__submit{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: orangered;
        color: black;
        border: none;

      }